<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
	<ComponentSettings>
		<!-- Replace ComponentId with the application key you got from the Application Insights service. -->
		<ComponentId>00000000-0000-0000-0000-000000000000</ComponentId>
		<!-- "Auto" indicates developer mode when debugger is attached, "On" forces developer mode always, "Off" forces developer mode never. -->
		<DevelopmentMode enable="Auto">
			<!-- The analytics SDKs will use this Component Id when debugging -->
			<ComponentId>00000000-0000-0000-0000-000000000000</ComponentId>
		</DevelopmentMode>
	</ComponentSettings>
	<ServerAnalytics enabled="true">
		<DataUploadIntervalInMinutes>1</DataUploadIntervalInMinutes>
		<AutoFillClientPropertiesFromRequest>true</AutoFillClientPropertiesFromRequest>
		<CollectClientIPAddress>true</CollectClientIPAddress>
	</ServerAnalytics>
	<TelemetryChannel Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.ServerTelemetryChannel, Microsoft.AI.ServerTelemetryChannel"/>
	<TelemetryProcessors>
		<Add Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.AdaptiveSamplingTelemetryProcessor, Microsoft.AI.ServerTelemetryChannel">
			<MaxTelemetryItemsPerSecond>5</MaxTelemetryItemsPerSecond>
		</Add>
	</TelemetryProcessors>
	<TelemetryModules>
		<Add Type="Microsoft.ApplicationInsights.DependencyCollector.DependencyTrackingTelemetryModule, Microsoft.AI.DependencyCollector"/>
	</TelemetryModules>
</ApplicationInsights>